/******* Start Author Info 
Name: 
Email: 
Phone:
Website: 
********/

/* Color Used In This Template
    1. Deep  Orange : #ef7e19
    2. Light Orange : #f78927
    3. Text  Black   : #232323
 */

/* Start Google Fonts Montserrat Exo 2 and Meie */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&family=Meie+Script&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* End Google Fonts Montserrat Exo 2 and Meie */

/* Start Global Section */
body{
    font-family: 'Montserrat', sans-serif;
    color: #232323;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Exo 2', sans-serif;
}
.signature{
    font-family: 'Meie Script', cursive;
    margin: 0;
}
a{
    text-decoration: none;
}
ul li{
    padding: 0;
    margin: 0;
}
/* End Global Section */

/* Start Header Section */
header{
    background: url(../img/header-background.png) no-repeat top center;
    background-size: cover;
    /* padding: 0 0 390px; */
}
.navbar {
  padding-top: 0;
}
.logo{
    padding-top: 6px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 52px 15px 0;
}
.navbar-light .navbar-nav .nav-link:focus,
 .navbar-light .navbar-nav .nav-link:hover {
    color: #ef7e19;
}
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
    border-bottom: 2px solid #ef7e19;
    background: #272727;
    padding: 52px 10px 0;
}
header .fa-bars{
    color: #fff;
}
.banner-content{
    padding: 75px 0 200px;
    /* padding: 125px 0 230px; */
}
.banner-content h1{
        color: #fff;
        font-size: 38px;
        line-height: 45px;
        font-weight: 700;
}
.banner-content span{
    color: #ef7e19;
}
.banner-content p{
    color: #fff;
    line-height: 30px;
    padding: 20px 0;
}
.btn-banner{
    padding: 10px 40px;
    background: #ef7e19;
    color: #fff;
    text-transform: uppercase;
    transition: .5s ease-in-out;
}
.btn-banner:hover{
    background: #ff973a;
    color: #fff;
}
/* Start Header Section */

/* Start Intro Section */
.intro{
    background: url(../img/hotspot.png) no-repeat right;
    background-size: 65%;
    padding: 150px 0;
    margin-top: -110px;
}
.intro h1{
        color: #232323;
        text-transform: uppercase;
        font-weight: 700;
        padding-top: 50px;
}
.intro span{
    color: #ef7e19;
}
.intro p{
    font-size: 16px;
    padding: 15px 75px 15px 0;
    line-height: 30px;
    font-weight: 500;
}
.image-holder{
    position: relative;
    width: 100%;
    height: 100%;
}
.hotspot-content{
    position: absolute;
    width: 300px;
    background: #fff;
    border: 5px solid #ef7e19;
    bottom: 29px;
    left: 82px;
    padding: 10px;
}
.hotspot-content h4{
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
}
.hotspot-content p{
    text-align: center;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    text-transform: uppercase;
}
/* End Intro Section */

/* Start Gallery Section */
.gallery{
    position: relative;
    padding: 100px 0 75px;
}
.technology{
    position: absolute;
    top: 404px;
    right: -183px;
    transform: rotate(270deg);
}
.technology h2{
    font-size: 70px;
    font-weight: 900;
    color: #efefef;
    text-transform: uppercase;
}
.gallery-button-group{
    text-align: center;
    padding-bottom: 50px;
}
.gallery-button-group ul li{
    display: inline-block;
    list-style: none;
}
.gallery-btn-1{
    background: #fff;
    color: #ef7e19;
    border: 1px solid #ef7e19;
    text-transform: uppercase;
    font-weight: 500;
    padding: 8px 20px;
    font-size: 12px;
    transition: .5s ease-in-out;
}
.gallery-btn-1:hover{
    background:  #ef7e19;
    color: #fff;
}
.gallery-btn-2{
    background: #ef7e19;
    color: #fff;
    border: 1px solid #ef7e19;
    text-transform: uppercase;
    font-weight: 500;
    padding: 8px 47.5px;
    font-size: 12px;
    transition: .5s ease-in-out;
}
.gallery-btn-2:hover{
    background: #fff;
    color: #ef7e19;
}
/* Start Gallery Item */
.gallery-item{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-top: 25px;
}
.gallery-title{
    position: relative;
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    height: 60px;
    padding-top: 15px;
    background: rgba(0,0,0,.5);
    margin-top: -60px;
}
.gallery-title h3{
    font-size: 20px; 
    color: #fff;
    text-align: center;
    margin: 0;
}
.gallery-hover{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ef7e19;
    top: 0;
    left: -100%;
    transition: .5s ease-in-out;
}
.ghover-head{
    background: #ff973a;
}
.ghover-head h3{
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 600;
}
.ghover-body p{
    color: #fff;
    font-size: 14px;
    padding: 15px;
    text-transform: uppercase;
}
.gallery-item:hover .gallery-hover{
    left: 0%;
}
/* End Gallery Item */
/* Start Gallery Section */

/* Start Structure Section */
.structure{
    position: relative;
    padding: 0 0 75px;
}
.structure-story{
    position: absolute;
    top: 230px;
    left: -178px;
    transform: rotate(90deg);
}
.structure-story h2{
    font-size: 70px;
    font-weight: 900;
    color: #efefef;
    text-transform: uppercase;
}
.structure h1{
    color: #232323;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 75px;
}
.structure h1 span{
    color: #ef7e19;
}
.option-panel{
    border-left: 5px solid #ef7e19;
}
.option-panel ul li{
    list-style: none;
    line-height: 60px;
    color: #d0d0d0;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.option-panel ul span{
    padding: 0 30px;
    font-weight: 600;
}
.option-panel .active{
    background: #f5f5f5;
    color: #202020;
}
/* Start Structure Section */

/* Start Information Section */
.information{
    position: relative;
    padding: 75px 0;
}
.story{
    position: absolute;
    top: 285px;
    right: -148px;
    transform: rotate(270deg);
}
.story h2{
    font-size: 70px;
    font-weight: 900;
    color: #efefef;
    text-transform: uppercase;
}
.info-description{
    border-left: 2px solid #ef7e19;
    border-right: 2px solid #ef7e19;
    background: #fff;
}
.info-description p{
    font-size: 12px;
    padding: 15px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 4v00;
}
.information .btn-info{
    background:  #ef7e19;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 0;
}
.story-hover{
    transition: 0.5s ease-in-out;
}
.story-hover:hover{
    box-shadow: 10px 10px 10px #dcdcdc;
    margin-top: 10px;
}
.story-hover:hover .info-description{
 border-left: 2px solid #fff;
 border-right: 2px solid #fff;
}
/* Start Information Section */

/* Start Client Section */
.client{
    position: relative;
    padding: 50px 0 100px;
}
.review{
    position: absolute;
    top: 300px;
    left: -235px;;
    transform: rotate(90deg);
}
.review h2{
    color: #efefef;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
}
.client h1{
    color: #232323;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: -10px;
}
.client h1 span{
    color: #ef7e19;
}
.quote-img{
    background: url(../img/inverted-coma.png) center center no-repeat;
}
.space-div{
    height: 50px;
}
.owl-carousel .item{
    background: url(../img/client-shape.png) no-repeat top center;
    background-size: contain;
}
.review-img .client-img{
    width: 75px !important;
    height: 75px;
    display: block;
    margin: 0 auto;
}
.review-img p{
    text-align: left;
    color: #fff;
    padding: 20px 100px;
}
.review-img h3{
    text-align: center;
    color: #fff;
    font-size: 25px;
}
.review-img h5{
    text-align: center;
    color: #fff;
    margin-top: -10px;
    font-size: 16px;
    padding-bottom: 210px;
}
.owl-theme .owl-dots .owl-dot span {
    background: #f6b881;
    display: block;
}
.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: -150px;
    z-index: 1;
    position: absolute;
    color: #fff;
    left: 40%;
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}
/* End Client Section */

/* Start Footer Section */
footer{
    background: url(../img/footer-img.png) top center no-repeat;
    background-size: cover;
}
footer h1{
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin: 40px 0;
}
footer h1 span{
    color: #ef7e19;
}
footer .form-control {
    display: block;
    width: 70%;
    padding: 0.500rem .75rem;
    background-color: transparent;
    border: 1px solid #ced4da;
    border-radius: 0;
    margin: 0 auto;
}
footer .form-control:focus {
    color: #e1e1e1;
    background-color: transparent;
    border-color: #ef7e19;
    box-shadow: 0 0 0 0rem rgb(13 110 253 / 25%);
}
footer .btn-footer{
    display: block;
    width: 70%;
    padding: 0.500rem .75rem;
    background-color: #ef7e19;
    border: 0;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    margin: 0 auto 25px;
}
.contact-info .fa-home,
.contact-info .fa-phone,
.contact-info .fa-envelope{
    color: #ef7e19;
    display: block;
    text-align: center;
    font-size: 23px;
    margin-bottom: 15px;
}
.contact-info p{
    color: #fff;
    text-align: center;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
}
footer h3{
    color: #fff;
    text-align: center;
    margin: 15px 0 10px;
}
footer .social-media{
    text-align: center;
}
footer .social-media li{
    display: inline-block;
    margin: 0 7px;
}
.social-media .fa-facebook,
.social-media .fa-twitter,
.social-media  .fa-youtube,
.social-media .fa-pinterest-p{
 width: 40px;
 height: 40px;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #fff;
}
.social-media .fa-facebook{
    background: #3b5998;
}
.social-media .fa-twitter{
    background: #55acee;
}
.social-media .fa-youtube{
    background: #FF0000;
}
.social-media .fa-pinterest-p{
    background: #cb2027;
}
footer .copyright{
    border-top: 1px solid #515151;
}
footer .copyright p{
    text-align: center;
    color: #fff;
    font-size: 14px;
    color: #b5b5b5;
    margin: 0;
    padding: 20px 0;
}
/* End Footer Section */